// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #0d3a66;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #2f8fed;
$body-text-color: #a7bec7 !default;
$body-link-color: #3695f5 !default;
$blockquote-text-color: #bad1db !default;
$body-bg-color: #1f1f1f;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #7b8187 !default;
$table-border-color: #7d8082 !default;
$hr-border-color: #646669 !default;
